name: Python tests

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
    workflow_dispatch:

jobs:
    run-tests:
        name: Run tests on ${{ matrix.os }} with Python ${{ matrix.python-version }}
        runs-on: ${{ matrix.os }}

    strategy:
        matrix:
            os: [ubuntu-latest, windows-latest, macos-latest]
            python-version: ["3.13"]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
         python -m pip install --upgrade pip
         pip install scikit-build-core pybind11 pytest pytest-asyncio

      - name: Build package
        run: |
         pip install -e . -v


      - name: Install libomp (macOS only)
        if: runner.os == 'macOS'
        run: |
          brew install libomp


      - name: Configure macOS environment
        if: runner.os == 'macOS'
        run: |
          echo "NUMBA_THREADING_LAYER=omp" >> $GITHUB_ENV
          echo "DYLD_LIBRARY_PATH=/opt/homebrew/opt/libomp/lib:/usr/local/opt/libomp/lib:$DYLD_LIBRARY_PATH" >> $GITHUB_ENV


      - name: Run test_measurement_flow.py
        run: |
          pytest -v -s tests/test_measurement_flow.py

      - name: Run test_periscope_flow.py
        run: |
          pytest -v -s tests/test_periscope_flow.py
